.ClientLandingMain
  display: flex
  flex-direction: column
  h2
    font-size: 5dvw
          
  .part-1
    background-color: #3A9E9D
    height: 140dvh
    display: flex
    flex-direction: column
    padding-top: 15dvw

    h1
      text-shadow: 0px -10px 0px #327e7c
      font-size: 18dvw
      max-width: 87dvw
      margin: 30dvw 0 0 8dvw
      color: white
      white-space: pre

    p
      font-size: 18dvw
      transform: translateY(calc(var(--scroll-progress) * 160dvw))
      --shadow-x: calc(-10px + (20px * (min(var(--scroll-progress), 0.16) / 0.16)))
      --shadow-opacity: calc(1 - ((max(0, min(var(--scroll-progress), 0.21) - 0.16)) / 0.05))
      text-shadow: 0px var(--shadow-x) 0px rgba(50, 126, 124, var(--shadow-opacity))
      opacity: clamp(
        0,
        calc(1 - (var(--scroll-progress) - 0.48) * 25),
        1
      )

      color: white
      position: fixed
      left: 44dvw
      margin-top: 30dvw
      z-index:1
      

    h2
      color: white
      margin: 100dvw 0 0 5dvw
      text-shadow: 0px 10px 0px #327e7c 

    .lightbulb
      width: 61vw
      height: 58dvh
      left: 23dvw
      z-index: 1
      position: absolute
      top: 28dvh

  .part-2
    background-color: rgb(207, 245, 218)
    height: 100dvh
    position: relative
    
    .square
      width: 30dvw
      height: 20dvw
      background-color: white
      position: sticky
      top: 119dvw
      left: 44dvw
      transform: translateY(
        clamp(
          -22dvh,
          calc(-23dvh + 30.6dvh * (var(--scroll-progress) - 0.15) / 0.37),
          20.1dvh
        )
      )


      .triangle-wrapper2
        transform: translateY(-11.9dvw)
        .triangle2
          border-left: 15dvw solid transparent
          border-right: 15dvw solid transparent
          border-bottom: 12dvw solid rgb(240, 240, 240)
          transform-style: preserve-3d
          transform-origin: 50% 100%
          transform: rotateX(
            clamp(
              0deg,
              calc((var(--scroll-progress) - 0.22) * 8000deg),
              160deg
            )
          )

          transition: none

    h2
      color: #3A9E9D
      margin: 17dvw 0 0 18dvw
      text-shadow: 1px 1px 2px pink
      position: sticky

  .part-3
    background-color: #E4AD6A
    height: 100dvh
    z-index: 1

    .scene
      top: 102dvw
      left: 20dvw
      width: 32dvw
      height: 32dvw
      perspective: 125dvw
      margin: 2.6dvw auto
      transform: translateY(-13dvw)
      position: sticky
      margin-left: 42dvw
      
      .cube
        width: 100%
        height: 100%
        position: relative
        transform-style: preserve-3d
        transform: rotateX(calc(clamp(0, (var(--scroll-progress) - 0.6) / 0.22, 1) * -1turn))
        transition: none

        .face
          position: absolute
          width: 100%
          height: 100%
          background: sienna
          border: 0.3dvw solid #52331f  // doublé

        .front
          transform: translateZ(16dvw)

        .back
          transform: rotateY(180deg) translateZ(16dvw)

        .right
          transform: rotateY(90deg) translateZ(16dvw)

        .left
          transform: rotateY(-90deg) translateZ(16dvw)

        .bottom
          transform: rotateX(90deg) translateZ(-16dvw)


    h2
      color: #52331f
      margin: 0 0 0 50dvw
      :has(.trigger:in-view) .square
        opacity: 0

  .part-4
    background-color: #3A9E9D
    height: 100dvh
    h2
      color: white
      margin: 130dvh 0 0 45dvh


  @media only screen and (min-width: 430px)

    .part-2
      .square
        top: 50dvh
        width: 15dvw
        height: 10dvw
        transform: translateY(
        clamp(
            -5dvh,
            calc(
              -5dvh + (25.1dvh * ((var(--scroll-progress) - 0.15) / 0.37))
            ),
            20.1dvh
          )
        )
        .triangle2
          border-left: 7.5dvw solid transparent
          border-right: 7.5dvw solid transparent

    .part-3
      .scene
        top: 30dvw
        width: 16dvw
        height: 16dvw
        perspective: 125dvw
        margin: 2.6dvw auto
        transform: translateY(-13dvw)
        position: sticky
        
        .cube
          width: 100%
          height: 100%
          position: relative
          transform-style: preserve-3d
          transform: rotateX(calc(
            clamp(0, (var(--scroll-progress) - 0.5) / 0.40, 0.5)
            * -1turn
            ))
          transition: none
          .face
            position: absolute
            width: 100%
            height: 100%
            background: sienna
            border: 0.15dvw solid #52331f
          .front
            transform: translateZ(8dvw)
          .back
            transform: rotateY(180deg) translateZ(8dvw)
          .right
            transform: rotateY(90deg) translateZ(8dvw)
          .left
            transform: rotateY(-90deg) translateZ(8dvw)
          .bottom
            transform: rotateX(90deg) translateZ(-8dvw)
        