.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
}

.card img {
  width: 98%;
  height: 98%;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 18px;
}

.initial-animation {
  transform: scale(0);
  animation: enterFromCenter 1s forwards;
}

@keyframes enterFromCenter {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.clicked {
  position: fixed;
  top: 50%;
  left: 15%;
  transform: translateY(-50%) scale(1.2);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.clicked img {
  transform: scale(1);
  width: 50%;
  height: 80%;
  object-fit: contain;
  border-radius: 5px;
}

.buttontext {
  width: 50%;
  height: 80%;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .card-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  opacity: 1;
  width: 50%;
  opacity: 1;
  font-size: 1vw;
  color: white;
  transition: opacity 0.3s ease-in-out;
  margin-left: 5% !important;
}

@media screen and (max-width: 300px) {
  .card-text {
    font-size: 3vw !important;
  }
  .buttoncard {
    font-size: 4vw !important;
  }
}

@media screen and (max-width: 700px) {
  .card-text {
    font-size: 2vw !important;
  }
  .buttoncard {
    font-size: 3vw !important;
  }
}

.buttoncard {
  background-color: var(--verydarkgreen);
  border-radius: 30px;
  border: green;
  color: white;
  width: 50%;
  height: 10%;
  font-size: 1vw;
  margin-top: 5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
}
